{% extends 'base.html.twig' %}

{% block title %}Ajouter une personne!{% endblock %}

{% block body %}
<h1>Ajour d'une personne</h1>
{{ form_start(form, {'attr': {'id': 'formPerso'}}) }}
    <div class="grid">
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
    </div>
    {{ form_row(form.birthday) }}
    {{ form_row(form.address) }}
    {{ form_row(form.post) }}
    {{ form_row(form.photo) }}
    {{ form_row(form.persons) }}
{{ form_end(form) }}
    <div class="grid w3-margin-top">
        <button id="submitBtn">Enregistrer</button>
        <a href="{{ path('admin_person_list') }}" role="button" class="w3-teal">Annuler</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#submitBtn').on('click', function () {
                $('#formPerso').submit()
            })
        })
    </script>
{% endblock %}
